// Because I could'nt override this rule
// (when it was originally in the main layout file) in the second query

@media only screen and (max-width: 1023px) {
	.card {
		margin-bottom: 7%;
	}
}

@media only screen and (min-width: 1024px) {

	main {
		position: relative;
		max-width: 900px;
		height: 430px;
	}

	.card {
		position: absolute;
	}

	#card-1 {
		left: 0.5%;
	}
	
	#card-2 {
		top: 2%;
	}
	
	#card-3 {
		bottom: 2%;
	}
	
	#card-4 {
		right: 0.5%;
	}

	footer {
		margin-top: 5%;
	}
}